<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form #form="ngForm" (ngSubmit)="signUp(form)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" name="confirmPassword" ngModel required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Sign Up</ion-button>
  </form>

  <div>                   
    <h6 (click)="goToLogin()"> Login</h6>
  </div>
</ion-content>
