<ion-content [fullscreen]="true">
  <ion-button expand="block" 
  fill="outline" 
  style="margin-left: 20%; 
  margin-right: 20%;
  color: #E9C7B0;
  --background-activated: #fff8f3;
  --border-color: #E9C7B0;
  --border-style: solid;
  --border-width: 1px;
  font-family:'Times New Roman'; 
  font-weight: bold;
  position: relative;
  top: 20px"
  [routerLink]="['/home']">
    <ion-icon slot="start" name="heart"></ion-icon>Menu principal
  </ion-button>

  <p style="font-size: 20px;
  font-family:'Times New Roman'; 
  color: #E9C7B0;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 40px">¿Qué deseas hacer?</p>

  <ion-input fill="outline"
  placeholder="editar/eliminar"
  style="align-items: center;
  --border-color: #E9C7B0;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-left: 20%; 
  margin-right: 20%;
  font-family:'Times New Roman'; 
  top: 30px"></ion-input>

  <p style="font-size: 20px;
  font-family:'Times New Roman'; 
  color: #E9C7B0;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 40px">Nombre de la pastilla</p>

  <ion-input fill="outline"
  placeholder="pastilla"
  style="align-items: center;
  --border-color: #E9C7B0;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-left: 20%; 
  margin-right: 20%;
  font-family:'Times New Roman'; 
  top: 30px"></ion-input>

  <p style="font-size: 20px;
  font-family:'Times New Roman'; 
  color: #E9C7B0;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 40px">Nueva dosis (si aplica)</p>

  <ion-input fill="outline"
  type="number"
  placeholder="xxx mg"
  style="align-items: center;
  --border-color: #E9C7B0;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-left: 20%; 
  margin-right: 20%;
  font-family:'Times New Roman'; 
  top: 30px"></ion-input>

  <ion-button expand="block" 
  fill="outline" 
  style="margin-left: 20%; 
  margin-right: 20%;
  color: #E9C7B0;
  --background-activated: #fff8f3;
  --border-color: #E9C7B0;
  --border-style: solid;
  --border-width: 1px;
  font-family:'Times New Roman'; 
  font-weight: bold;
  position: relative;
  top: 80px">
    Aceptar
  </ion-button>
</ion-content>
